extends layout/default.pug 
block title 
  title Chi tiết sản phẩm  
block main 
    .section6  
        .container 
            .section6_wrap 
                .section6_wrap-images
                    .section6_wrap-images-main 
                        img(src="assets/image/image 2.jpg")
                    .section6_wrap-images-thumb
                        img(src="assets/image/image 3.jpg") 
                        img(src="assets/image/image 4.jpg") 
                        img(src="assets/image/image 5.jpg") 
                        img(src="assets/image/image 6.jpg") 
                        img(src="assets/image/image 7.jpg") 
                .section6_wrap-content 
                    .breadcrumb 
                        .breadcrumb_wrap 
                            ul.breadcrumb_list 
                                li 
                                    a(href="index.pug" title="trang chủ")
                                        |trang chủ  
                                li 
                                    a(href="#" title="trang chủ")
                                        |chó   
                                li 
                                    a(href="#" title="trang chủ")
                                        |chó con    
                                li 
                                    a(href="#" title="trang chủ")
                                        |Shiba Inu Màu Nâu Đỏ
                    h1.section6-title  Shiba Inu Màu Nâu Đỏ
                    .section6-price 12.000.000 VND
                    .section6-button
                        a(href="#" class="button") Liên Hệ 
                        a(href="#" class="button-outline")
                            <i class="fa-brands fa-rocketchat button-outine-icon"></i>
                            |Chat Với monito
                    .section6-table 
                        tbody
                            table  
                                tr 
                                    td  SKU
                                    td #1000078
                                tr 
                                    td Giống 
                                    td Cái
                                tr 
                                    td Tuổi
                                    td 2 tháng
                                tr 
                                    td Kích thước
                                    td Nhỏ
                                tr 
                                    td Màu sắc
                                    td Nâu đỏ
                                tr 
                                    td Mô tả ngắn
                                    td Giống thuần chủng Shih Tzu. Cấu trúc cơ thể tốt. Với chứng chỉ MKA và Microchip. Cha từ dòng dõi vô địch.
                    .box-share 
                        .box-share-label  
                            <i class="fa-solid fa-share-nodes"></i>
                            | Chia Sẻ 
                        .box-share-list 
                            a(href="") <i class="fa-brands fa-facebook"></i>
                            a(href="") <i class="fa-brands fa-twitter"></i>
                            a(href="") <i class="fa-brands fa-instagram"></i>
                            a(href="") <i class="fa-brands fa-youtube"></i>   

                                        
