<!DOCTYPE html >
<html lang="en">
  <head> 
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="assets/css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"/>
  </head>
  <body> 
    <header class="header">
      <div class="container">
        <div class="header-wrap">
          <!--Menu Mobile-->
          <button class="header-menu-mobile"><i class="fa-solid fa-bars"></i>
            <!--Logo-->
          </button>
          <div class="header-logo"><a href="index.html"><img src="assets/image/Frame.svg" alt="Monito"/></a>
            <!-- Menu-->
          </div>
          <nav class="header-menu">
            <ul>
              <li><a href="index.html">Trang Chủ</a></li>
              <li><a href="#">Danh Mục</a></li>
              <li><a href="#">Giới Thiệu</a></li>
              <li><a href="#">Liên Hệ</a></li>
            </ul>
            <!-- Search -->
          </nav>
          <button class="header-search-mobile"><i class="fa-solid fa-magnifying-glass"></i></button>
          <form class="inner-form" action="#">
            <input name="keyword" placeholder="Nhập từ khóa..."/>
          </form>
          <button><i class="fa-solid fa-magnifying-glass"></i>
            <!-- Button -->
          </button><a class="button" href="#">Tham Gia Cộng Đồng</a>
        </div>
      </div>
      <footer class="footer"></footer>
      <div class="container">
        <div class="footer-top">
          <div class="footer-content">Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi</div>
          <form class="footer-form" action="">
            <input type="email" name="" placeholder="Nhập email của bạn..."/>
            <button>Đăng Ký Ngay</button>
          </form>
        </div>
        <div class="footer-middle">
          <nav class="footer-links">
            <ul>
              <li><a href="#">Trang Chủ</a></li>
              <li><a href="#">Danh Mục</a></li>
              <li><a href="#">Giới Thiệu</a></li>
              <li><a href="#">Liên Hệ</a></li>
            </ul>
          </nav>
          <nav class="footer-socials">
            <ul>
              <li><a href="#" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa-brands fa-x-twitter"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
              <li><a href="#" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
          </nav>
        </div>
        <div class="footer-bottom">
          <div class="footer-copyright">© 2023 28Tech. All rights reserved.</div>
          <div class="footer-logo"><a href="index.html"><img src="assets/images/frame.svg" alt=""></a></div>
          <nav class="footer-links">
            <ul>
              <li><a href="#">Điều khoản dịch vụ</a></li>
              <li><a href="#">Chính sách bảo mật</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
  </body>
</html>