@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "variable" ;

*{
    box-sizing: border-box;

}
body{
    margin: 0;
    font-family:  $font;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* container */
.container {
  width: 1180px;
  margin: 0 auto;

  @media (max-width: 1199.98px) {
    width: 960px;
  }
  
  @media (max-width: 991.98px) {
    width: 720px;
  }
  
  @media (max-width: 767.98px) {
    width: 540px;
  }
  
  @media (max-width: 575.98px) {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}
  /* End container */
  
  /* button */
  .button {
    display: inline-flex;
    align-items: center;
    height: 44px;
    padding: 0 28px;
    color: #FDFDFD;
    font-weight: 700;
    font-size: 16px;
    background-color: $color-main;
    border-radius: 57px;
  }
  /* End button */
  
  /* button-outline */
  .button-outline {
    display: inline-flex;
    align-items: center;
    height: 44px;
    padding: 0 28px;
    color: $color-main;
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    border-radius: 57px;
    border: 1.5px solid $color-main;
    i {
      font-size: 18px;
      color: $color-main;
      margin-left: 11px;
    }
    &-icon{
      margin-left: 0px;
      margin-right: 10px ;
    }
  }
  
  
  /* End button-outline */
  
  /* header */
  .header {
    padding: 28px 0;
    position: relative;
    z-index: 999;
    &-wrap {
        display: flex;
        align-items: center;
        gap: 14px;
      }
    &-logo img {
        width: auto;
        height: 40px;
      }
    &-menu {
        flex: 1;
        text-align: center;
        ul {
            display: inline-flex;
            margin: 0;
            padding: 0;
            list-style: none;
            gap: 48px;
            a {
                font-weight: 700;
                font-size: 16px;
                color: $color-main;
              }
          }
      }
    &-form {
        background-color: #F3F3F3;
        height: 44px;
        width: 280px;
        border-radius: 46px;
        padding: 0 16px;
        display: inline-flex;
        gap: 12px;
        input {
            border: 0;
            outline: 0;
            height: 100%;
            background-color: transparent;
            flex: 1;
            order: 1;
          }
          button {
            font-size: 16.5px;
            color: $color-text-dark;
            background-color: transparent;
            border: 0;
            padding: 0;
            order: 0;
          }
      }
    &-search-mobile {
        display: none;
      }
    &-menu-mobile {
        display: none;
      }
      @media (max-width: 1199.98px) {
        .button {
          display: none;
        }
      }
      
      @media (max-width: 991.98px) {
        &__search-mobile {
          display: inline-block;
          font-size: 23px;
          color: $color-text-dark;
          border: 0;
          background-color: transparent;
          cursor: pointer;
        }
      
        &__form {
          display: none;
        }
      }
      
      @media (max-width: 767.98px) {
        padding: 12.5px 0;
      
        &__wrap {
          justify-content: space-between;
        }
        
        &__menu-mobile {
          display: inline-block;
          font-size: 23px;
          color: $color-text-dark;
          border: 0;
          background-color: transparent;
          cursor: pointer;
        }
      
        &__menu {
          display: none;
        }
      
        &__logo img {
          height: 32px;
        }
      }
      @media (max-width: 1199.98px) {
        .button {
          display: none;
        }
      }
      
      @media (max-width: 991.98px) {
        &-search-mobile {
          display: inline-block;
          font-size: 23px;
          color:$color-text-dark;
          border: 0;
          background-color: transparent;
          cursor: pointer;
        }
      
        &-form {
          display: none;
        }
      }
      
      @media (max-width: 767.98px) {
          padding: 12.5px 0;
          &-wrap {
          justify-content: space-between;
        }
        
        &-menu-mobile {
          display: inline-block;
          font-size: 23px;
          color: $color-text-dark;
          border: 0;
          background-color: transparent;
          cursor: pointer;
        }
      
        &-menu {
          display: none;
        }
      
        &-logo img {
          height: 32px;
        }
      }
      
  }
  /* section-1 */
.section1 {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 0 0 40px 40px;
  margin-top: -102px;
  padding-top: 102px;
  overflow: hidden;
  &-wrap {
    display: flex;
    position: relative;
  }
  &-bg-4 {
    position: absolute;
    top: -102px;
    left: -130px;
  }
  &-content {
    width: 50%;
    padding-top: 80px;
    padding-right: 76px;
    position: relative;
  }
  &-bg-1 {
    position: absolute;
    top: 75px;
    left: -10px;
  }
  &-bg-2 {
    position: absolute;
    bottom: 0;
    left: -120px;
  }
  &-title {
    margin-top: 0;
    margin-bottom: 24px;
    color: #002A48;
    font-weight: 700;
    position: relative;
    
    
  }
  &-title-main {
    font-size: 60px;
  }
  &-title-sub {
    font-size: 46px;
  }
  &-desc {
    font-size: 16px;
    font-weight: 500;
    color: #242B33;
    margin-bottom: 34px;
  }
  &-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    .button {
      font-weight: 500;
    }
    
  }
  
  &-image {
    width: 50%;
    padding-right: 74px;
    position: relative;
    
    
  }
  &-image-main {
    width: 100%;
    height: auto;
    display: block;
    position: relative;
  }
  &-image-bg-3 {
    position: absolute;
    bottom: 0;
    left: -90px;
  }
  @media (max-width: 1199.98px) {
    &-title-main {
      font-size: 52px;
    }
    &-title-sub {
      font-size: 36px;
    }
    &-bg-2 {
      left: -15px;
      height: 50px;
    }

  }
  @media (max-width: 991.98px) {
    &-wrap {
      flex-wrap: wrap;
    }
  
    &-content {
      width: 100%;
      padding-top: 35px;
      padding-right: 0;
    }
  
    &-image {
      width: 100%;
      padding-right: 0;
      margin-top: 25px;
    }
  
    &-bg-2 {
      display: none;
    }
  }
  @media (max-width: 767.98px) {
    &-bg-4 {
      left: 15%;
    }
  }
  @media (max-width: 575.98px) {
    border-radius: 0 0 20px 20px;
    
  
    &-bg-4 {
      left: 8%;
    }
  
    &-content {
      z-index: 1;
    }
  
    &-title {
      margin-bottom: 12px;
    }
  
    &-title-main {
      font-size: 46px;
    }
  
    &-title-sub {
      font-size: 28px;
    }
  
    &-desc {
      font-size: 12px;
      margin-bottom: 32px;
    }
  
    &-bg-1 {
      display: none;
    }
  
    &-bg-3 {
      bottom: -45px;
      left: -36px;
    }
  }
  @media (max-width: 480px) {
    &-bg-4 {
      left: 2%;
    }
  }
    
}
// end section1 
/* box-head */
.box-head {
  margin-bottom: 28px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  &-sub-title {
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    margin-bottom: 2px;
  }
  
 &-title {
    font-weight: 700;
    font-size: 24px;
    color: var(--color-main);
    margin-top: 0;
    margin-bottom: 0;
    text-transform: capitalize;
  }
  
  @media (max-width: 767.98px) {
    &-sub-title {
      font-size: 14px;
    }
  
    &-title {
      font-size: 20px;
    }
  
    &-right {
      display: none;
    }
  }
  &-sub-title {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  margin-bottom: 2px;
}

&-title {
  font-weight: 700;
  font-size: 24px;
  color: var(--color-main);
  margin-top: 0;
  margin-bottom: 0;
  text-transform: capitalize;
}

@media (max-width: 767.98px) {
  &-sub-title {
    font-size: 14px;
  }

  &-title {
    font-size: 20px;
  }

  &-right {
    display: none;
  }
}
}


/* End box-head */

/* Section 2 */
.section2 {
  padding: 60px 0;
  &-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .product-item {
    width: calc((100% - 60px) / 4);
  }
  
  &-button-bottom {
    display: none;
  }
  
  @media (max-width: 991.98px) {
    .product-item {
      width: calc((100% - 40px) / 3);
    }
  }
  
  @media (max-width: 767.98px) {
   &-wrap {
      gap: 12px;
    }
  
     .product-item {
      width: calc((100% - 12px) / 2);
    }
  
    &-button-bottom {
      display: block;
      margin-top: 16px;
    }
  
    .button-outline {
      display: flex;
      justify-content: center;
    }
  }
  
  @media (max-width: 575.98px) {
    
      padding: 40px 0;
  }
}
// end section2 

/* product-item */
.product-item {
  background-color: #FDFDFD;
  box-shadow: 0px 4px 28px -2px #00000014;
  padding: 8px 8px 0 8px;
  border-radius: 12px;
  &-image {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 8px;
  }
  
  &-image img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
  }
  
  &-content {
    padding: 8px 8px 20px 8px;
  }
  
  &-title {
    margin-top: 0;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-text-dark);
    margin-bottom: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  
  &-info {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 26px;
    margin-bottom: 4px;
  }
  
  &-info-item {
    color: $color-text-light;
    font-weight: 500;
    font-size: 12px;
    position: relative;
  }
  
  &-info-item b {
    font-weight: 700;
  }
  
  &-info-item::after {
    content: "";
    width: 3px;
    height: 3px;
    display: inline-block;
    background-color: $color-text-light;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    right: -13px;
  }
  
  &-info-item:last-child::after {
    display: none;
  }
  
  &-price {
    font-weight: 700;
    font-size: 14px;
    color: $color-text-dark;
  }
  
  @media (max-width: 575.98px) {
   &-title {
      font-size: 14px;
    }
  
    &-info-item::after {
      display: none;
    }
  }
}

/* section-3 */
.section3
{
  &-wrap {
    background-image: url(../image/section-3-bg-1.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
    overflow: hidden;
}
&-image {
  width: 40%;
  margin-left: 20px;
  margin-top: 36px;
}

&-image img {
  width: 100%;
  height: auto;
  display: block;
}

&-content {
  width: 34%;
  text-align: right;
  margin-top: 58px;
  margin-right: 85px;
}

&-title {
  margin-top: 0;
  margin-bottom: 8px;
  font-weight: 700;
  color: var(--color-main);
}

&-title-main {
  font-size: 52px;
}

&-title-sub {
  margin-top: 8px;
  font-size: 36px;
}

&-desc {
  font-size: 12px;
  font-weight: 500;
  color: #242B33;
  margin-bottom: 24px;
}

&-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px 18px;
}

@media (max-width: 1199.98px) {
  &-title-main {
    font-size: 42px;
  }

  &-title-sub {
    font-size: 28px;
  }

  &-content {
    width: 39%;
    margin-top: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991.98px) {
  &-wrap {
    flex-wrap: wrap;
    background-image: url(../images/section-3-bg-mobile.svg);
  }

  &-image {
    width: 100%;
    order: 1;
    margin: 0;
  }

  &-content {
    width: 100%;
    order: 0;
    margin: 0;
    padding: 32px 20px 23px 20px;
    text-align: center;
  }

  &-buttons {
    justify-content: center;
  }
}

@media (max-width: 575.98px) {
  &-title {
    margin-bottom: 12px;
  }

  &-title-main {
    font-size: 36px;
  }

  &-title-sub {
    margin-top: 0;
    font-size: 24px;
  }

  &-desc {
    margin-bottom: 32px;
  }
}
}
/* End section-3 */

/* section-4 */
.section4 {
  padding: 60px 0;
  &-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .blog-item {
    width: calc((100% - 40px) / 3);
  }
  
  &-button-bottom {
    display: none;
  }
  
  @media (max-width: 991.98px) {
    &-wrap {
      gap: 12px;
    }
  
    .blog-item {
      width: calc((100% - 12px) / 2);
    }
  }
  
  @media (max-width: 767.98px) {
    &-button-bottom {
      display: block;
      margin-top: 16px;
    }
  
    .button-outline {
      display: flex;
      justify-content: center;
    }
  }
  
  @media (max-width: 575.98px) {
    
      padding: 40px 0;
  
    .blog-item {
      width: 100%;
    }
  }
}


/* End section-4 */

/* blog-item */
.blog-item {
  box-shadow: 0px 4px 28px -2px #00000014;
  border-radius: 12px;
  padding: 8px;
  &-image {
    border-radius: 10px;
    overflow: hidden;
    aspect-ratio: 364/240;
    margin-bottom: 8px;
  }
  
  &-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  
  &-content {
    padding: 8px;
  }
  
  &-tag {
    background-color: #00A7E7;
    padding: 2px 10px;
    border-radius: 28px;
    display: inline-block;
    font-weight: 700;
    font-size: 10px;
    color: #FDFDFD;
  }
  
  &-title {
    margin-top: 10px;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 16px;
    color: var(--color-text-dark);
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
  
  &-desc {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    color: #242B33;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }
}


/* End blog-item */

/* footer */
.footer {
  background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
  border-radius: 40px 40px 0 0;
  padding: 80px 0 40px 0;
  &-top {
    background-color: $color-main;
    padding: 32px;
    border-radius: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &-content {
    width: calc(40% - 20px);
    font-size: 20px;
    font-weight: 700;
    color: #FDFDFD;
    text-transform: capitalize;
  }
  
  &-form {
    width: 60%;
    background-color: #ffffff;
    border-radius: 14px;
    padding: 12px;
    display: flex;
    gap: 12px;
  }
  
  &-form input {
    flex: 1;
    height: 48px;
    border: 1px solid #99A2A5;
    border-radius: 8px;
    padding: 0 28px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
  }
  
  &-form input::placeholder {
    color: #99A2A5;
  }
  
  &-form button {
    height: 48px;
    border-radius: 8px;
    background-color: $color-main;
    padding: 0 28px;
    color: #FDFDFD;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    border: 0;
    transition: all 0.3s;
  }
  
  &-form button:hover {
    background-color: #00A7E7;
  }
  
  &-middle {
    padding: 40px 0;
    border-bottom: 1px solid #CCD1D2;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  &-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px 60px;
  }
  
  &-links ul li a {
    font-weight: 500;
    font-size: 16px;
    color: $color-text-dark;
  }
  
  &-links ul li a:hover {
    color: #00A7E7;
  }
  
  &-socials ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px 40px;
  }
  
  &-socials ul li a {
    font-size: 24px;
    color: $color-text-dark ;
  }
  
  &-socials ul li a:hover {
    color: #00A7E7;
  }
  
  &-bottom {
    padding-top: 40px;
    display: flex;
    align-items: center;
  }
  
  &-copyright {
    font-weight: 500;
    font-size: 14px;
    color: $color-text-light;
    width: 40%;
  }
  
  &-logo {
    width: 20%;
    text-align: center;
  }
  
  &-logo img {
    width: 115px;
    height: auto;
  }
  
  &-links {
    width: 40%;
  }
  
  &-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 32px;
  }
  
  &-links ul li a {
    font-weight: 500;
    font-size: 14px;
    color: $color-text-light;
  }
  
  @media (max-width: 991.98px) {
    &-top {
      flex-wrap: wrap;
    }
  
    &-content {
      width: 100%;
      margin-bottom: 16px;
    }
  
    &-form {
      width: 100%;
    }
  
    &-middle {
      flex-wrap: wrap;
    }
  
    &-links {
      width: 100%;
      margin-bottom: 20px;
    }
  
    &-links ul {
      justify-content: center;
    }
  
    &-socials {
      width: 100%;
    }
  
    &-socials ul {
      justify-content: center;
    }
  
    &-bottom {
      flex-wrap: wrap;
      padding-top: 36px;
    }
  
    &-copyright {
      width: 100%;
      order: 2;
      font-size: 10px;
      text-align: center;
    }
  
    &-logo {
      width: 100%;
      order: 0;
      margin-bottom: 32px;
    }
  
    &-links {
      width: 100%;
      order: 1;
      margin-bottom: 12px;
    }
  
    &-links ul {
      justify-content: center;
    }
  
    &-links ul li a {
      font-size: 12px;
    }
  }
  
  @media (max-width: 575.98px) {
    
    border-radius: 20px 20px 0 0;
    padding: 40px 0 16px 0;
    
  
    &-top {
      padding: 16px;
    }
  
    &-form {
      flex-wrap: wrap;
    }
  
    &-form input {
      flex: none;
      width: 100%;
    }
  
    &-form button {
      width: 100%;
    }
  
    &-links ul {
      flex-wrap: wrap;
      gap: 10px 40px;
    }
  
    &-links ul li a {
      font-size: 13px;
    }
  
    &-socials ul li a {
      font-size: 20px;
    }
  }
}


// end footer 

// breadcrumd 
.breadcrumb {
  margin-left: 0px ;
  margin-top: 7px; 
  margin-bottom: 9px ;
  &_wrap {
    display: inline-flex ;
    
    ul {
      display: inline-flex ; 
      flex-wrap: wrap ;
      padding: 0 ; 
      margin: 0 ;
      gap: 36px  ; 
      a {
        color: $color-text-light ; 
        font-weight: 500 ;
        font-size: 14px;

      }
      li{
        position: relative  ; 
        &::after {
          content: "\f30b";
          font-family: "Font Awesome 6 free";
          box-sizing: border-box;
          font-weight: 900;
          font-size: 15px ; 
          position: absolute ; 
          right: -20px;
          top: 5px
        }
        &:last-child::after{
          display: none ; 
        }
      }
    }
  }
}
// section5
.section5{
  margin-top: 60px;
  margin-bottom: 20px;
  &_wrap 
  {
    display: flex ;
  }
  .box_filte{
    width: calc(25% - 10px);
    &-title{
      margin-top: 0px ;
      margin-bottom: 12px ;
      display: flex ;
      text-align: center;
      align-items: center ;
      gap: 8px;
      color: #003459 ; 
      font-weight: 700 ;
      font-size:20px ;
      img {
        width: 20px;
        height: auto;
        margin-right: 13px  ; 
      }


    }
    .box_filte-group{
      padding-bottom: 16px ;
      border-bottom: 1px solid  #EBEEEF  ; 
      margin-bottom: 16px ; 
    }
    &-group-label {
      margin-bottom: 10px; 
      font-size: 16px ; 
      color: $color-text-dark ; 
      font-weight: 700;


    }
    
    &-group-list{
      display: flex ;
      flex-direction: column;
      gap: 8px ;  

    }
    &-group-item {
      display: flex ;
      align-items: center;
      input{
        width: 16px;
        height: 16px;
        margin-right: 10px;
      }
      label {
        margin-bottom: 0px;
        font-weight: 500;
        font-size: 14px;
        color: $color-text-dark
      }
    }

  }
  .section5_right {
    width: calc(75% - 10px);
    &-title {
      margin-bottom: 14px ;
      margin-top: 0;
      font-weight: 700;
      font-size: 24px;
      color: #003459;
      
    }
    &-list {
      display: flex;
      flex-wrap: wrap;
      gap: 15px;
      .product-item {
        width: calc(100% - 30px)/3 ;
    }
  }
  
  }

}
// end section5
// pagination 
.pagination {
  margin-top: 20px;
  &_wrap {
    
    ul {
      
      display: flex ;
      gap: 12px  ; 
      padding: 0 ; 
      margin: 0 ; 
      align-items: center ;
      justify-content: center ;
      li{
        border-radius: 8px  ;
        width: 34px;
        height: 34px;
        align-items: center;
        justify-content: center ;
        width: 34px;
        height: 34px;
        color:$color-main ; 
        font-weight: 700;
        font-size: 18px ;
        a{
          display: flex;
          text-align: center ;
          justify-content: center ;

        }
      }
      li:hover{
        background-color: #003459;
        a {
          color: #FDFDFD ;
        }
      }
}
  }
}
// section6 

.section6
{
  &_wrap {
    padding: 22px 20px ;
    display: flex ;
    border: 1px solid #add;
    border-radius: 20px ; 
    gap:  30px ;  
    &-images{
      width: calc(50% - 15px);
    }
    &-content{
      width:  calc(50% - 15px);
    }
    &-images-main{
      width: 100%;
      aspect-ratio: 1/1;
      border-radius: 10px;
      overflow: hidden;
      margin-bottom: 12px ;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
      }

    }
    &-images-thumb{
      display: flex ;
      gap: 12px;
      img{
        width: calc((100% - 48px )/5);
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 6px ;
        display: block ;
      }


    }
    

   
  }
  &-title{
    margin-top: 18px ;
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 24px;
    color: $color-text-dark ; 
  }
  &-price {
    margin-bottom: 18px;
    font-weight: 700 ;
    font-size: 20px;
    color:#002A48 ; 
  }
  &-button {
    display: flex ;
    flex-wrap: wrap;
    gap: 18px;

  }
  &-table {
    margin-top: 18px;
    margin-bottom: 18px ; 
    td {
      padding: 8px ; 
      border: 1px solid #EBEEEF ; 
      font-weight: 500 ;
      font-size: 14px;
      color: #667479 ; 
    }
  }

}
// end section6 
// box-share
.box-share 
{
  display: flex ;
  gap: 21px ; 
  &-label {
    display: flex ;
    gap: 8px ;
    margin-top: 6px ;
    margin-bottom: 6px;
    margin-left: 10px ;
    align-items: center ;
    font-weight: 700;
    font-size: 14px;
    color: $color-main ; 
  }
  &-list{
    gap: 18px ; 
    display: flex ;
    color:#99A2A5 ; 
    align-items: center ;
  } 
} 
// end box-share 






































  







  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
 
