.section3
    .container
      .section3-wrap
        .section3-image
          img(src="assets/image/image-2.png" alt="")
        
        .section3-content
          h2.section3-title
            .section3-title-main
              |Thêm Một Bạn
            .section3-title-sub
              |Thêm Ngàn Niềm Vui!
          .section3-desc
            |Có một con thú cưng đồng nghĩa với việc bạn có thêm niềm vui mới. Chúng tôi có hơn 200 con thú cưng khác nhau có thể đáp ứng nhu cầu của bạn!
          .section3-buttons
            a(href="#" class="button-outline")
              |Giới Thiệu 
              i(class="fa-regular fa-circle-play")
            a(href="#" class="button")
              |Khám Phá Ngay 